---
layout: default
title: Home
---

<p>
  Note: this is a temporary site until I can get a seamless transition from 
  <a href="http://techno-weenie.net">techno-weenie.net</a> without busting 
  links.
</p>

{% for post in site.posts limit:3 %}
<div class="article">
  <h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
  <div class="clear">
{{ post.content }}
  </div>
  <p class="meta">
    posted {{ post.date | date: "%Y %b %d" }}
  </p>
</div>
{% endfor %}

<div id="previously">
  <h3>previously</h3>
  <ul>
  {% for post in site.posts offset: 3, limit:12 %}
    <li>
      <small>{{ post.date | date: "%Y %b %d" }}</small>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
  </ul>
</div>