body {
  font: 14px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

h1 { font-size:28px }
h2 { font-size:24px }

#sform { float:right; margin-top:5px; }

#header a {
  font: 30px Futura, "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  letter-spacing: 5px;
  font-weight:bold
}

#header a { 
  color:#666; 
  text-decoration:none;
}

#pager {
  text-align:center;
  font-size:11px;
  color:666;
  float:right;
}

#cover {
  text-align:right;
}

#cover img {
  border: 2px solid #000;
}

#sidebar {
  font-size:12px;
}

#footer {
  font-size:11px;
}

#archives h4 {
  margin:0;
}

.archive-year {
  width:33%;
  float:left;
  margin-bottom:2em;
}

.meta {
  margin:0 0 20px -5px;
  font-size:10px;
  line-height:25px;
  padding:5px 15px 5px 15px;
  background-color:#DDE0E9;
  opacity:.8;
}

.comments {
  margin:0;
  padding:0;
  list-style-type:none;
}

.comments li {
  margin:0 0 15px 0;
}

.comments p {
  margin:0 0 5px 0;
}

.comments p.meta {
  font-size:11px;
  color:#444;
}

#comment_body {
  width:95%;
}

#comment_errors {
  list-style-type:none;
  color:#500;
}

blockquote {
  margin:0 -5px;
  padding:5px 30px 5px 50px;
  font-size:14px;
}

.article ul { margin: 0; padding: 1em 0 0; }
.article li { 
  color:#303030;
  text-shadow: 0 -1px 1px #dfdfdf;
}

.article img,
img.floater {
  float:left;
  margin:0 2em 1em 0;
}

pre {
  font-size:12px;
}

pre code {
  display:block;
  margin:0 -5px;
  padding:15px 30px;
  border-style:solid;
  border-color:#777;
  border-width:4px 0;
  overflow:auto
}

code {
  background:#222;
  color:#eee;
}

blockquote a:hover {
  color:#000;
  background:#9EAE9D;
}

.source { border: 1px solid silver; padding-left: 5px; margin-bottom: 0.5em; overflow-x:auto; }
.source pre { font-family: 'Bitstream Vera Sans Mono', Courier, monospace }

#footer ul, #previously ul {
  margin:0 0 15px 0; padding:0;
  list-style-type:none;
}