body {
  font: 16px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  line-height: 175%;
}

a {
  color: #a53;
}

a:visited {
  color: #842;
}

a:active, a:hover {
  color: #f61;
  text-decoration:none;
}

table {
  margin-bottom:1em;
  padding:5px 30px 5px 50px;
}

table td { padding-right: 1em; }

blockquote {
  margin:0 -5px;
  padding:5px 30px 5px 50px;
  font-size:14px;
}

.floater {
  float:left;
  margin:0 1em 1em 0;
}

.post-content ul { margin: 1.5em 0 1.5em 1.5em; padding: 0; }
.post-content img { text-align: center; }
.post-content p,
.post-content blockquote,
.post-content center,
.post-content pre {
  margin-bottom: 1em;
}

.post-listing .post-date {
  float:left;
  width: 10em;
}

.post-date {
  font-weight:bold;
  text-transform:uppercase;
  color: #887;
  font-size:80%
}

.post-content h1 {
  color: #542;
  font-size: 20px;
  border-bottom:solid 3px #542;
  margin: 0 -1em 1em -1em;
  padding: 0 1em;
  letter-spacing:2px;
}

pre {
  font-size: 14px;
  padding-left: 2em;
}

#header-wrapper {
  background-color:#0C0907;
  margin-bottom:1em;
  background-image: url(http://dl.dropbox.com/u/3561619/blog/bg.png);
  background-repeat: no-repeat;
  background-position: top right;
}

#header {
  margin-left: auto;
  margin-right: auto;
  width:960px;

  height: 55px;
  font: 64px Futura, "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  letter-spacing:5px;
  font-weight:bold;
  color:#fff;

  overflow:hidden;
}

#header span {
  color:#eda;
}

#content {
  padding: 1em;
}

#sidebar {
  padding: 1em;
}

#footer ul, #sidebar ul {
  margin:0 0 1em; 0; padding:0;
  list-style-type:none;
}

.twitter-follow-box a {
  display: block;
  padding: 10px;
  color: #457597;
  background: url('/images/twitter_birder.png') 98% 14px no-repeat, -webkit-gradient(linear, left top, left bottom, from(#E2EFF9), to(#B7D8F0));
  text-shadow: 0 0 1px white;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #9EBFD6;
}

.twitter-follow-box a:visited, .twitter-follow-box a:hover {
  color: #457597;
}

