<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="imagetoolbar" content="false" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <link rel="openid.server" href="http://www.myopenid.com/server"/>                    <!-- For delegating OpenID v1.x-->
    <link rel="openid.delegate" href="http://technoweenie.myopenid.com"/>                <!-- For delegating OpenID v1.x-->
    <meta http-equiv="X-XRDS-Location" content="http://technoweenie.myopenid.com/xrds"/> <!-- For delegating OpenID v2.x-->
    <meta name="viewport" content="width=device-width; initial-scale=1.0, maximum-scale=1">
    <link href="http://gmpg.org/xfn/11" rel="profile">

    <title>
      {% if page.title %}{{ page.title }} &middot; {% endif %}
      {{ site.tagline }}
    </title>

    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/hyde.css">
    <link rel="stylesheet" href="/stylesheets/site.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,700|Abril+Fatface">
    <link rel="stylesheet" href="/stylesheets/pygments.css">

    <!-- RSS -->
    <link rel="alternate" type="application/atom+xml" title="techno weenie feedburner feed" href="http://feeds.feedburner.com/TechnoWeenie"/>
  </head>
  <body>

    <header class="masthead">
      <div class="masthead-inner">
        <h1>
          <a href="/">
            <span class="masthead-wide">@tw</span>
            <span class="masthead-skinny">@technoweenie</span>
          </a>
        </h1>
        <p class="lead">Code writer, beat mixer, and comic book reader at GitHub.</p>

        <div class="colophon">
          <ul class="colophon-links">
            <li>
              <a href="https://github.com/technoweenie">GitHub</a>
            </li>
            <li>
              <a href="https://twitter.com/technoweenie">Twitter</a>
            </li>
            <li>
              <a href="mailto:technoweenie@gmail.com">E-Note</a>
            </li>
          </ul>
          <p>&copy; 2013. {{ site.author.name }} All rights reserved.</p>
        </div>

      </div>
    </header>

    <div class="content container">
      {{ content }}
    </div>

<script type="text/javascript">
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4dfb700f613f5d5f0b000004');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
  </body>
</html>
